{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Create Project</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>
    </div>
{% endblock %}