{% extends "base.html" %}


{% block content %}
    <div>
        <h1>My Projects</h1>
        {% if not projects %}
            <p>You are not assigned to any projects</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                            ({{ project.tasks.all|length }} tasks)
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        {% endif %}
        <a href="{% url 'create_project' %}">Create a new project</a>
    </div>
{% endblock %}